[Desktop Entry]
Encoding=UTF-8
Name=Link to Contents :: CUDA Toolkit Documentation
Type=Link
URL=http://docs.nvidia.com/cuda/index.html
Icon=text-html
